*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
   
}
#section1{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}
.heading h2{
   font-size: 40px;
   text-align: center;
   color: white;
   text-transform: uppercase;
   padding-top: 60px;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

    input::placeholder {
        background-color: #8BC6EC;/* Placeholder text color */
        background: transparent; /* Placeholder background color */
    }

   
#input-box{
    width: 10px;
}
.task-manager{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.task-manager h2{
    color: #153677;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.task-manager img{
width: 30px;
margin-left: 10px;
}
.addtask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 30px;
    padding: 10px 20px 10px 25px;
}
input{
flex:1;
border: none;
outline: none;
background: transparent;
padding: 10px;
font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    display: block;
    margin: 0 auto;
}
button:hover{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #75acd1 0%, #6a6eb5 100%);
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select:none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 38px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(uncheck.png);

    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
   
}
ul li.checked::before{
    background-image: url(check.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
}.container {
    position: relative;
}


.filter label {
    margin-right: 5px;
}

.filter select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
